<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>Wakatime Data reader</title>
    <!-- BOOTSTRAP -->
    <link
      type="text/css"
      rel="stylesheet"
      href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="../public/stylesheets/index.css"
    />
    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"></script>

    <!-- Required scripts -->
    <script src="//unpkg.com/vue@latest/dist/vue.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
  </head>
  <body>
    <div id="app">
      <!-- Empty -->
      <div
        v-if="!datalog"
        class="root d-flex flex-column justify-content-center align-items-center"
      >
        <h1 class="my-4">Seleziona il file da analizzare</h1>
        <b-button size="lg" @click="selectFile()">Carica File</b-button>
        <b-form-file id="form-file" v-model="file" style="display: none">
        </b-form-file>
      </div>
      <!-- Content -->
      <div v-show="datalog" class="root d-flex flex-column">
        <!-- Days bar -->
        <div v-if="datalog" class="tabs-wrapper d-flex align-items-center">
          <b-list-group horizontal>
            <b-list-group-item
              v-for="day in datalog.days"
              @click="setActiveTab(day)"
              class="day-button mx-2 d-flex align-items-center justify-content-center"
              :class="{selected : (day == selected_day)}"
              >{{ day.date }}</b-list-group-item
            >
          </b-list-group>
        </div>
        <!-- Production times -->
        <div v-if="datalog" class="d-flex">
          <div
            style="display: flex; flex-direction: column; width: 100%"
            class="mx-3"
          >
            <h2 style="text-align: center; margin-top: 15px">
              {{ selected_day.date }}
              {{ calculateTotalHours() }}
            </h2>
            <h3 class="my-3" style="color: rgb(255, 72, 0)">Progetti</h3>
            <div v-for="project in selected_day.projects">
              <div>
                <h4 style="color: rgb(255, 123, 0)">{{ project.name}}</h4>

                <h6 style="color: rgb(255, 166, 0)">Tempi per file</h6>
                <p v-for="entity in project.entities">
                  {{entity.name}} : {{ Math.ceil(entity.total_seconds / 36) /
                  100 }} ore
                </p>

                <h6 style="color: rgb(255, 166, 0)">Tempi per linguaggio</h6>
                <p v-for="language in project.languages">
                  {{language.name}} : {{ Math.ceil(language.total_seconds / 36)
                  / 100 }} ore
                </p>
                <h6 style="color:rgb(255, 166, 0)">Tempo totale</h6>
                <p>{{calculateTotalTime(project) }} ore</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- CUSTOM -->
    <script src="/public/javascripts/index.js"></script>
  </body>
</html>
