body {
  background-color: #141f2b;
  color: #4c9eeb;
}

#app {
  width: 100vw;
}

.root {
  width: 100vw;
}

.tabs-wrapper {
  overflow-x: auto;
  font-size: 20px;
  height: 80px;
  width: 100%;
  box-sizing: border-box;
  border: solid 1px white;
  background-color:  rgb(255, 166, 0);
}

.tabs-wrapper .day-button {
  background-color: #ffffff;
  color: black;
  height: 65%;
  width: max-content;
  border: 0px;
  border-radius: 10px;
  white-space: nowrap;
}

.tabs-wrapper .day-button.selected {
  background-color: #4c9eeb;
}

.day-content {
  width: 100vw;
  height: calc(100vh - 45px);
  overflow-y: auto;
  overflow-x: hidden;
}

.data-container {
  width: calc(100% - 20px);
  height: 300px;
  border-radius: 20px;
  background-color: #141f2b;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 300px;
  padding: 10px;
}
